/*<header>*/
header {
    background-color: darkslategray;
    color:bisque;
    font-size: medium;
}

/*header logo*/
.headerlogo {
    display: inline;
    width: 150px;
    height: 150px;
}

/*header h1 text*/
header h1{
    display: inline;
    text-align: right;
}

/*navigation bar section*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #025c5c;
}

/*un-ordered lists under navigation bar*/
nav ul {
    list-style: none;
    display: flex;
    gap: 8px;
}

/*navigation bar items*/
.navitem {
    background-color:#013535;
    transition: background-color 0.7s ease;
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

/*main body settings*/
body {
    background-color: black;
    color:blanchedalmond;
    font-family: Helvetica;
}

/*links within navigation bar items*/
.navitem a{
    text-decoration: none;
    color: white;
}

/*action when hovering over navigation bar items*/
.navitem:hover {
    background-color:lightgray;
    color: #013535;
}

/*menu icon for responsive navigation bar*/
.menu-icon {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

/*settings to not display navigation bar menu toggle*/
#menu-toggle {
    display: none;
}

/*screen size media query for responsive layout updating*/
@media screen and (max-width: 768px) {
    /*hide nav links at smaller screen width*/
    nav ul {
        display: none;
        flex-direction: column;
        align-items: left;
    }

    /*display hamburger*/
    .menu-icon{
        display:block;
    }

    /*when checkbox checked, show menu*/
    #menu-toggle:checked + label + ul {
        display: flex;
    }

    /*shrink fontsize*/
    .navitem a{
        margin: 10px 0;
    }
    /*only display one grid column per row*/
    .event-grid{
        grid-template-columns: 1fr;
    }
}

/*hero section styling*/
.hero {
    background-color: dimgrey;
    padding: 10px;

}

/*welcome section styling*/
.welcome {
    text-align: center;
    background-color: rgba(95, 89, 128, 0.425);
    color:bisque;
    font-size: medium;
}

/*styling to make notification class text red*/
.notification{
    color: red;
}

/*about section styling*/
.about {
    background-color: rgba(95, 89, 128, 0.425);
    color:bisque;
}

/*event section styling*/
.events {
    justify-content: center;
    margin-top: 20px;
    padding: 40px 20px;
    border-radius: 25px;
    background-color:rgb(18, 48, 48);
    color: antiquewhite;
}

/*featured event item styling*/
.feat-event{
    justify-content: center;
    background-color: #025c5c;
}

/*event item styling*/
.event {
    background-color: rgba(47, 138, 100, 0.527);
    margin-top: 20px;
    padding: 40px 20px;
    border-radius: 15px;
    border: grey 1px solid;
    max-width: 300px;
    color: white;
}

/*image for event items styling*/
.event img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;

}

/*image for featured event item styling*/
.feat-event img {
    width: 100%;
}

/*event grid styling*/
.event-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

}

/*styling for links within the event grid*/
.event-grid a {
    color:rgb(250, 238, 168);
    text-decoration: none;
}

table, td {
    border-color: rgb(203, 252, 236);
    border: 1px solid;
    border-collapse: collapse;
}

.table-grid {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
}